@import "colors";
@import "spacing";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-main;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h1 {
  text-align: center;
}

h1 {
  color: $color-main;
  margin-bottom: $spacing-lg;
}

h2, h3, h4 {
  color: $color-secondary;
  margin: $spacing-lg 0 $spacing-md 0;
}

p {
  margin-bottom: $spacing-sm;
}

blockquote {
  padding: 0 $spacing-lg;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

dt {
  font-weight: bold;
  margin-top: $spacing-sm;
}

dd {
  margin-left: $spacing-xs;
}

a:after {
  content: " ⇒";
}